body {
    position: relative;
    font-family: 'Roboto', cursive;
    font-size: 20px;
    font-weight: 400;
}

*{
    box-sizing: border-box;
}

.page{
    height: 2480px;
    width: 3508px;
    padding-left: 254px;
    padding-right: 254px;
    padding-top: 91px;
    padding-bottom: 91px;
}
.row{
    float: left;
}
.first-row{
    margin-bottom: 30px;
}

.container {
    background: url('canvas2.png');
    float: left;
    position: relative;
    width: 750px;
    height: 1133px;
}


.label{
    position: absolute;
    top: 240px;
    height: 718px;
    width: 710px;
    padding: 20px;
}

.headline{
    position: absolute;
    top: 280px;
    width: 100%;
}

.headline h1 {
    position: relative;
    font-family: 'Montserrat', cursive;
    font-size: 104px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
}

.headline h2 {
    font-family: 'Roboto', cursive;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    margin-top: 5px;
    
}

.logo{
    position: absolute;
    top: 20px;
    left: 120px;
    width: 470px;
}

#canvas {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.infos{
    bottom: 10px;
    position: absolute;
    width: 710px;
    margin-top: 200px;
}

.infos span{
    float: left;
    font-size: 26px;
    font-weight: 600;
}

.infos .og{
    display: block;
    width: 33%;
    text-align: left;
}

.infos .fg{
    display: block;
    width: 34%;
    text-align: center;
}

.infos .abv{
    display: block;
    width: 33%;
    text-align: right;
}

.infos .brew{
    display: block;
    width: 50%;
    text-align: left;
    
}

.infos .bottled{
    display: block;
    width: 50%;
    text-align: right;
    
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: 30px;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 30%;
    width: 9999px;
    height: 10px;
    background: black;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}